@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fugaz+One&display=swap');


#month {
    color: #E2E2E2;
    font-family: 'Fugaz One', cursive;
    font-size: 3.5rem;
    padding-bottom: 2%;
}

.btn.btn-outline-primary {
    border-color: #E2E2E2;
    background-color: #E2E2E2;
    padding: 0.7rem 3.3rem;
    height: 40px;
    border-radius: 0;
    border-width: 1px;
    border-left-color: #1CCAD8;
    border-bottom-color: #1CCAD8;
    color: transparent;
    font-size:1em;
}

#week {
    width: 91%;
    margin-left: 9%;
    margin-right: 0;
}

span {
    display: inline-block;
    text-align: center;
    width: 14.2%;
    font-size: 180%;
    font-family: Roboto;
    color: #E2E2E2;
}



.weekdays {
    width: 91%;
    margin-left: 0;
    display: inline-block;
}


#firstId{

}

.btn-group-vertical {
    width: 14.2%;
}

.btn.btn-primary {
    background-color: #1CCAD8;
    border-color: #1CCAD8;
    border-radius: 0;
    font-size:1em;
    padding: 0.7rem 0rem;
    height: 40px;
    border-right-color: #E2E2E2;
}

.btn.btn-primary:hover {
    background-color: #1CCAD8;
    border-color: #1CCAD8;
}

@media (max-width: 768px) {
    .btn.btn-outline-primary {
        padding:0;
        height: 20px;
        font-size:100%;
    }

    .btn.btn-primary {
        height: 20px;
        padding:0;
        font-size:100%;
    }

}
html
.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show>.btn-outline-primary.dropdown-toggle {
    background-color: #1CCAD8;
    border-color: #1CCAD8;
}

@media (min-width: 769px) and (max-width: 992px) {
    .btn.btn-outline-primary {
        padding:0;
        height: 30px;
        font-size:80%;
    }

    .btn.btn-primary {
        padding:0;
        font-size:80%;
        height: 30px;
    }



}

.btn.btn-outline-primary:hover {
    background-color: #1CCAD8;
    border-color: transparent;
    color: transparent;
}

html body {
    background-color: #5FAD56;
    font-family: Roboto, sans-serif;
}

.container.container {
    margin-top: 5%;
    padding: 0;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
}

#footer {
    color: #E2E2E2;
    text-align: center;
    font-size: 1.5em;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;

    font-family: Roboto, sans-serif;
}

#sidebar {
    width:9%;
    background-color: #1CCAD8;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    vertical-align: top;
}

#calendarBody {
    margin-top: 10%;
}

#navbar {
    background-color: #454545;
    height: 6%;
}




#footer-button {
    border-radius: 5px;
    background-color: #124E78;
    border-color: #124E78;
    padding: 1rem;
    text-align: center;
    font-size: 90%;
    height: 7%;
    width:10%;
    margin: 1%;
    border-width: 3px;
}

#footer-button:hover {
    background-color: #1CCAD8;
    border-color: #F99820;
}

#footer-div {
    margin-right: 0;
    margin-left: 0;
    text-align: center;
}

.resetDiv {
    margin: 0;
    display: inline ;
}

.avatar {
    width: 50%;
    text-align: center;
    margin: auto;
    border-radius: 50%;
    margin-top: 5%;
}

.input-group>.input-group-append>.btn {
    background-color: #1CCAD8;
    color: white;
    border: transparent;
}

.input-group>.input-group-append>.btn:hover {
    background-color: #F99820;
}

html .progress-bar {
    background: -webkit-linear-gradient(left, #18D7D8 0%,#1CCAD8 100%);
    background-color: #1CCAD8;
    vertical-align: bottom;

}

.list-group-item {
    cursor: pointer;
}

#scrollable {
    height: 700px;
}
/*TODO: currently height of scrollable is bigger than page size on not madie's computer, might need resize avatars?*/

#scrollableBody {
    height: 75%;
    overflow-y: auto;
}


html .card-deck {
    width: 100%;
    margin-top: 13%;
}

#cardContainer {
    max-width: 90%;
}

html .groupTable {
    background-color: #E2E2E2;
    text-align: center;
}

html thead {
    background-color: #5FAD56;
    color: #E2E2E2;
    font-family: Roboto;
    font-size: 180%;
    border-color: transparent;
}

#groupSide {
    background-color: #1CCAD8;
    color: white;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    border-right: 2px solid #E2E2E2;
}

html .table td {
    border-top: 0px solid transparent;
    height:39px;
}

.triangle-left {
    border-top: 12px solid transparent;
    border-right: 25px solid #E2E2E2;
    border-bottom: 12px solid transparent;
    margin-right: 1%;
}

.triangle-right {
    border-top: 12px solid transparent;
    border-left: 25px solid #E2E2E2;
    border-bottom: 12px solid transparent;
    margin-left: 1%;
}

.triangle {
    width: 0;
    height: 0;
    display: inline-block;
    vertical-align: text-top;
    margin-top: 10%;
}

.triangle-right:hover {
    cursor: pointer;
    border-top: 12px solid transparent;
    border-left: 25px solid #F99820;
    border-bottom: 12px solid transparent;
}

.triangle-left:hover {
    cursor: pointer;
    border-top: 12px solid transparent;
    border-right: 25px solid #F99820;
    border-bottom: 12px solid transparent;
}

#table {
    display: inline-block;
    vertical-align: top;
    width: 80%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
}

.groupDiv {
    text-align: center;
}

.busyBox {
    background-color: #E2E2E2;
    border: 2px solid #E2E2E2;
    width: 9%;
    height: 30px;
    display: inline-block;
}


.availableBox {
    color: #E2E2E2;
    background-color: #1CCAD8;
    border: 2px solid #1CCAD8;
    width: 9%;
    height: 30px;
    display: inline-block;
}

html .table thead th {
    border-top: transparent;
    border-bottom: transparent;
    padding: 0;
}

#spinning {
    color: #E2E2E2;
    text-align: center;
    top: 50%;
    left: 50%;
    position: fixed;
    width: 4rem;
    height: 4rem;
}

.slick-slide {
    padding: 0 8px;
    box-sizing: border-box;
}

#clearTasksButton {
    margin-bottom: 2%;
}

#cardTitleName {
    font-family: 'Fugaz One', cursive;
    font-size: 2.5rem;
    margin-top: 2%;
}

#taskCheckbox:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
}

#taskBody {
    display: flex;
    flex-direction: row;
}

#taskListGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#aboutBottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2%;
}

#aboutCard {

}