@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.btn.btn-outline-primary {
  border-color: #E2E2E2;
  background-color: #E2E2E2;
  padding: 0.7rem 3.3rem;
  height: 40px;
  border-radius: 0;
  border-width: 1px;
  border-left-color: #1CCAD8;
  border-bottom-color: #1CCAD8;
  color: transparent;
  font-size:1em;
}

#week {
  width: 91%;
  margin-left: 9%;
  margin-right: 0;
}

span {
  display: inline-block;
  text-align: center;
  width: 14.2%;
  font-size: 180%;
  font-family: Roboto;
  color: #E2E2E2;
}



.weekdays {
  width: 91%;
  margin-left: 0;
  display: inline-block;
}


#firstId{

}

.btn-group-vertical {
  width: 14.2%;
}

.btn.btn-primary {
  background-color: #1CCAD8;
  border-color: #1CCAD8;
  border-radius: 0;
  font-size:1em;
  padding: 0.7rem 0rem;
  height: 40px;
  border-right-color: #E2E2E2;
}

.btn.btn-primary:hover {
  background-color: #1CCAD8;
  border-color: #1CCAD8;
}

@media (max-width: 768px) {
  .btn.btn-outline-primary {
    padding:0;
    height: 20px;
    font-size:100%;
  }

  .btn.btn-primary {
    height: 20px;
    padding:0;
    font-size:100%;
  }

}
html
.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show>.btn-outline-primary.dropdown-toggle {
  background-color: #1CCAD8;
  border-color: #1CCAD8;
}

@media (min-width: 769px) and (max-width: 992px) {
  .btn.btn-outline-primary {
    padding:0;
    height: 30px;
    font-size:80%;
  }

  .btn.btn-primary {
    padding:0;
    font-size:80%;
    height: 30px;
  }



}

.btn.btn-outline-primary:hover {
  background-color: #1CCAD8;
  border-color: transparent;
  color: transparent;
}

html body {
  background-color: #5FAD56;
}

.container.container {
  margin-top: 5%;
  padding: 0;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

 #footer {
  color: #E2E2E2;
   text-align: center;
   font-size: 1.5em;
   margin-top: 1%;
   margin-left: auto;
   margin-right: auto;

  font-family: Roboto, sans-serif;
}

 #sidebar {
   width:9%;
   background-color: #1CCAD8;
   display: inline-flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
   position: relative;
   vertical-align: top;
 }

 #calendarBody {
   margin-top: 10%;
 }

 #navbar {
   background-color: #454545;
   height: 6%;
 }




 #footer-button {
   border-radius: 5px;
   background-color: #124E78;
   border-color: #124E78;
   padding: 1rem;
   text-align: center;
   font-size: 90%;
   height: 7%;
   width:10%;
   margin: 1%;
   border-width: 3px;
 }

 #footer-button:hover {
   background-color: #1CCAD8;
   border-color: #F99820;
 }

 #footer-div {
   margin-right: 0;
   margin-left: 0;
   text-align: center;
 }

 .resetDiv {
   margin: 0;
   display: inline ;
 }

 .Modal.Header {
   text-align: center;
 }



