@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fugaz+One&display=swap');


#month {
    color: #E2E2E2;
    font-family: 'Fugaz One', cursive;
    font-size: 3.5rem;
    padding-bottom: 0;
    margin-top: 4%;
}

#calendarMonth {
    color: #E2E2E2;
    font-family: 'Fugaz One', cursive;
    font-size: 3.5rem;
    padding-bottom: 2%;
    text-align: center;
}

.btn.btn-outline-primary {
    border-color: #E2E2E2;
    background-color: #E2E2E2;
    padding: 0.7rem 3.3rem;
    height: 40px;
    border-radius: 0;
    border-width: 1px;
    border-left-color: #1CCAD8;
    border-bottom-color: #1CCAD8;
    color: transparent;
    font-size:1em;
}

#week {
    width: 91%;
    margin-left: 9%;
    margin-right: 0;
}

span {
    display: inline-block;
    text-align: center;
    width: 14.2%;
    font-size: 180%;
    font-family: Roboto;
    color: #E2E2E2;
}



.weekdays {
    width: 91%;
    margin-left: 0;
    display: inline-block;
}


.btn.btn-outline-primary:hover {
    background-color: #1CCAD8;
    border-color: transparent;
    color: transparent;
}

html body {
    background-color: #5FAD56;
    font-family: Roboto, sans-serif;
}

.container.container {
    margin-top: 2%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

#footer {
    color: #E2E2E2;
    text-align: center;
    font-size: 1.5em;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    font-family: Roboto, sans-serif;
}

#sidebar {
    background-color: #1CCAD8;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    vertical-align: top;
}

#calendarBody {
    margin-top: 7%;
}

#bar {
    background-color: #454545;
    height: 6%;
}


#footer-button {
    background-color: #1CCAD8;
    border-color: #1CCAD8;
    padding: 1rem;
    text-align: center;
    font-size: 98%;
    height: 3%;
    width:10%;
    margin: 1%;
}

#footer-button:hover {
    background-color: #124E78;
    border-color: #124E78;
}

#footer-div {
    margin-right: 0;
    margin-left: 0;
    text-align: center;
}

.resetDiv {
    margin: 0;
    display: inline ;
}

.avatar {
    width: 33%;
    text-align: center;
    margin: auto;
    border-radius: 50%;
    margin-top: 5%;
}

.input-group>.input-group-append>.btn {
    background-color: #1CCAD8;
    color: white;
    border: transparent;
}

.input-group>.input-group-append>.btn:hover {
    background-color: #F99820;
}

html .progress-bar {
    background: -webkit-linear-gradient(left, #18D7D8 0%,#1CCAD8 100%);
    background-color: #1CCAD8;
    vertical-align: bottom;

}

.list-group-item {
    cursor: pointer;
}

#scrollable {
    height: 600px;
}

#scrollableBody {
    height: 75%;
    overflow-y: auto;
}


html .card-deck {
    width: 100%;
    margin-top: 13%;
}

#cardContainer {
    max-width: 90%;
}

html .groupTable {
    background-color: #E2E2E2;
    text-align: center;
}

html thead {
    background-color: #5FAD56;
    color: #E2E2E2;
    font-family: Roboto;
    font-size: 180%;
    border-color: transparent;
}

#groupSide {
    background-color: #1CCAD8;
    width: 6%;
    color: white;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    border-right: 2px solid #E2E2E2;
}

html .table td {
    border-top: 0px solid transparent;
    height:32px;
    width: 10%;
}

.triangle-left {
    border-top: 12px solid transparent;
    border-right: 25px solid #E2E2E2;
    border-bottom: 12px solid transparent;
    margin-right: 1%;
}

.triangle-right {
    border-top: 12px solid transparent;
    border-left: 25px solid #E2E2E2;
    border-bottom: 12px solid transparent;
    margin-left: 1%;
}

.triangle {
    width: 0;
    height: 0;
    display: inline-block;
    vertical-align: text-top;
    margin-top: 10%;
}

.triangle-right:hover {
    cursor: pointer;
    border-top: 12px solid transparent;
    border-left: 25px solid #F99820;
    border-bottom: 12px solid transparent;
}

.triangle-left:hover {
    cursor: pointer;
    border-top: 12px solid transparent;
    border-right: 25px solid #F99820;
    border-bottom: 12px solid transparent;
}

#table {
    display: inline-block;
    vertical-align: top;
    width: 80%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
}

h4 {
    font-family: 'Roboto', sans-serif;
    color: #E2E2E2;
}

.groupDiv {
    text-align: center;
}

.busyBox {
    background-color: #E2E2E2;
    border: 2px solid #E2E2E2;
    width: 9%;
    height: 30px;
    display: inline-block;
}


.availableBox {
    color: #E2E2E2;
    background-color: #1CCAD8;
    border: 2px solid #1CCAD8;
    width: 9%;
    height: 30px;
    display: inline-block;
}

html .table thead th {
    border-top: transparent;
    border-bottom: transparent;
    padding: 0;
}

#spinning {
    color: #E2E2E2;
    text-align: center;
    top: 50%;
    left: 50%;
    position: fixed;
    width: 4rem;
    height: 4rem;
}

.slick-slide {
    padding: 0 8px;
    box-sizing: border-box;
}

#clearTasksButton {
    margin-bottom: 2%;
}

#cardTitleName {
    font-family: 'Fugaz One', cursive;
    font-size: 2rem;
    margin-top: 2%;
}

#taskCheckbox:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
}

#taskBody {
    display: flex;
    flex-direction: row;
}

#taskListGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#entireWeek {
    padding: 0;
    display: inline-block;
}

#calendarTriangle {
    margin-top: 0;
}

#active {
    background-color: #1CCAD8;
}

.calCell {
    cursor: pointer;
    border-right: 1px solid #1CCAD8;
}

#album:hover {
    background-color: #1CCAD8;
}

.welcome {
    color: #454545;
    font-family: Roboto, sans-serif;
}

h1.welcome {
    font-family: 'Fugaz One', cursive;
    font-size: 6rem;
    text-align: center;
    align-items: center;
    margin-top: 10%;
    margin-bottom: -2%;
}

h2.welcome {
    text-align: center;
    margin-bottom: 5%;
}

.table td.welcomeCol {
    text-align: center;
    background-color: #ededed;
    border-color: #E2E2E2;
    border-right: 10px solid #E2E2E2;
    padding: 2%;
    cursor: pointer;
}

#navbar {
    background-color: rgba(69, 69, 69, 0.42);
    height: 6%;
}

.table td.welcomeCol:hover {
    background-color: #a5d4d8;
    text-decoration: none;
}

#welcomeTable {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.colMsg {
    margin-top: 12%;
}

.table a{
    color: #454545;
}
.table a:hover {
    text-decoration: none;
}

#groupProgress {
    text-align: center;
}

#groupProgressBar {
    height: 50px;
}

#MemberScheduleTasks {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    justify-content: space-between;
}

#OverviewCard {
    width: 49%;
}

#CardHeader {
    text-align: center;
}

#active {
    background-color: #1CCAD8;
}

.calCell {
    cursor: pointer;
    border-right: 1px solid #1CCAD8;
}

#album:hover {
    background-color: #1CCAD8;

#aboutBottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2%;
}

#aboutCard {
  
}

#helpPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#helpAccordion {
    width: 100%;
    padding-bottom: 1%;
}

#helpHeader {
    text-align: center;
    color: #E2E2E2;
    font-family: 'Fugaz One', cursive;
    font-size: 3.5rem;
    padding-bottom: 2%;
}
