@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fugaz+One&display=swap');

#month {
    color: #E2E2E2;
    font-family: 'Fugaz One', cursive;
    font-size: 3.5rem;
    padding-bottom: 0;
    margin-top: 0;
    margin-top: 0%;
}

#calendarMonth {
    color: #E2E2E2;
    font-family: 'Fugaz One', cursive;
    font-size: 3.5rem;
    padding-bottom: 2%;
    text-align: center;
}

#week {
    width: 91%;
    margin-left: 9%;
    margin-right: 0;
}

span {
    display: inline-block;
    text-align: center;
    width: 14.2%;
    font-size: 180%;
    font-family: Roboto;
    color: #E2E2E2;
}


.weekdays {
    width: 91%;
    margin-left: 0;
    display: inline-block;
}

html body {
    background-color: #5FAD56;
    font-family: Roboto, sans-serif;
}

.container.container {
    margin-top: 5%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

#footer {
    color: #E2E2E2;
    text-align: center;
    font-size: 1.1em;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    font-family: Roboto, sans-serif;
}

#sidebar {
    background-color: #1CCAD8;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    vertical-align: top;
}

#calendarBody {
    margin-top: 7%;
}

#bar {
    background-color: #454545;
    height: 6%;
}

#footer-button {
    background-color: #1CCAD8;
    border-radius: 0;
    border-color: #1CCAD8;
    padding: 1rem;
    text-align: center;
    font-size: 98%;
    height: 3%;
    width:10%;
    margin: 1%;
}

#footer-button:hover {
    background-color: #124E78;
    border-color: #124E78;
}

#footer-div {
    margin-right: 0;
    margin-left: 0;
    text-align: center;
}

.resetDiv {
    margin: 0;
    display: inline ;
}

.avatar {
    width: 33%;
    text-align: center;
    margin: auto;
    border-radius: 50%;
    margin-top: 5%;
}

.input-group>.input-group-append>.btn {
    background-color: #1CCAD8;
    color: white;
    border: transparent;
}

.input-group>.input-group-append>.btn:hover {
    background-color: #F99820;
}

html .progress-bar {
    background: -webkit-linear-gradient(left, #18D7D8 0%,#1CCAD8 100%);
    background-color: #1CCAD8;
    vertical-align: bottom;
}

.list-group-item {
    cursor: pointer;
}

#scrollable {
    height: 550px;
    margin-top: 10%;
}

#scrollableBody {
    height: 75%;
    overflow-y: auto;
}

html .card-deck {
    width: 100%;
    margin-top: 13%;
}

#cardContainer {
    width: 80%;
}

html .groupTable {
    background-color: #E2E2E2;
    text-align: center;
}

html thead {
    background-color: #5FAD56;
    color: #E2E2E2;
    font-family: Roboto;
    font-size: 180%;
    border-color: transparent;
}

#groupSide {
    background-color: #1CCAD8;
    width: 6%;
    color: white;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    border-right: 2px solid #E2E2E2;
}

html .table td {
    border-top: 0px solid transparent;
    height:32px;
    width: 10%;
}

.triangle-left {
    border-top: 12px solid transparent;
    border-right: 25px solid #E2E2E2;
    border-bottom: 12px solid transparent;
    margin-right: 1%;
}

.triangle-right {
    border-top: 12px solid transparent;
    border-left: 25px solid #E2E2E2;
    border-bottom: 12px solid transparent;
    margin-left: 1%;
}

.triangle {
    width: 0;
    height: 0;
    display: inline-block;
    vertical-align: text-top;
    margin-top: 10%;
}

.triangle-right:hover {
    cursor: pointer;
    border-top: 12px solid transparent;
    border-left: 25px solid #F99820;
    border-bottom: 12px solid transparent;
}

.triangle-left:hover {
    cursor: pointer;
    border-top: 12px solid transparent;
    border-right: 25px solid #F99820;
    border-bottom: 12px solid transparent;
}

#table {
    display: inline-block;
    vertical-align: top;
    width: 80%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 0;
}

html h4 {
    font-family: 'Roboto', sans-serif;
    color: #E2E2E2;
    font-size: 1.3rem;
}

.groupDiv {
    text-align: center;
    margin-top: 0;
}

.busyBox {
    background-color: #E2E2E2;
    border: 2px solid #E2E2E2;
    width: 9%;
    height: 30px;
    display: inline-block;
}

.availableBox {
    color: #E2E2E2;
    background-color: #1CCAD8;
    border: 2px solid #1CCAD8;
    width: 9%;
    height: 30px;
    display: inline-block;
}

html .table thead th {
    border-top: transparent;
    border-bottom: transparent;
    padding: 0;
}

#spinning {
    color: #E2E2E2;
    text-align: center;
    top: 50%;
    left: 50%;
    position: fixed;
    width: 4rem;
    height: 4rem;
}

.slick-slide {
    padding: 0 8px;
    box-sizing: border-box;
}

#clearTasksButton {
    margin-bottom: 2%;
    background-color: #124E78;
    border-radius: 2%;
    border-color: transparent;
}

#clearTasksButton:hover {
    background-color: #F99820;
}

#cardTitleName {
    font-family: 'Fugaz One', cursive;
    font-size: 2rem;
    margin-top: 2%;
}

#taskCheckbox:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
}

.loginForm {
    width: 25%;
    display: block;
    margin: auto;
}

.loginRedirect {
    text-align: center;
}
#taskBody {
    display: flex;
    flex-direction: row;
}

#taskListGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#entireWeek {
    padding: 0;
    display: inline-block;
}

#calendarTriangle {
    margin-top: 0;
}

#active {
    background-color: #1CCAD8;
}

.calCell {
    cursor: pointer;
    border-right: 1px solid #1CCAD8;
}

#album:hover {
    background-color: #1CCAD8;
}

.welcome {
    color: #454545;
    font-family: Roboto, sans-serif;
}

h1.welcome {
    font-family: 'Fugaz One', cursive;
    font-size: 6rem;
    text-align: center;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 0;
}

h2.welcome {
    text-align: center;
    margin-bottom: 5%;
}

.table td.welcomeCol {
    text-align: center;
    background-color: #ededed;
    border-color: #E2E2E2;
    border-right: 10px solid #E2E2E2;
    padding: 2%;
    cursor: pointer;
}

#navbar {
    background-color: #454545;
    height: 6%;
}

.table td.welcomeCol:hover {
    background-color: #a5d4d8;
    text-decoration: none;
}

#welcomeTable {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.colMsg {
    margin-top: 12%;
}

.table a{
    color: #454545;
}
.table a:hover {
    text-decoration: none;
}

#groupProgressBar {
    height: 30px;
}

#overviewCardHeader {
    height: 10px;
    text-align: center;
}

#MemberScheduleTasks {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    justify-content: space-between;
}

#OverviewCard {
    width: 49%;
    max-height: 400px;
    min-height: 400px;
}

#overviewCardTask {
     height: 20%;
     overflow-y: auto;
 }

#overviewCardAvailability {
    height: 20%;
}

.overviewCell {
    cursor: pointer;
    padding-top: 2px;
    padding-bottom: 2px;
}

#overviewTable {
    background: #E2E2E2;
}

#CardHeader {
    text-align: center;
}

#aboutBottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2%;
}

#aboutCard {
    width: 32%;
}

#aboutBio {
    height: 200px;
}

#icon {
    margin-left: 20px;
    margin-right: 20px;
}

#iconsBody {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#helpAccordion {
    width: 100%;
    padding-bottom: 1%;
}

html label {
    font-family: Roboto, sans-serif;
    text-align: left;
    margin-top: 12%;
    margin-bottom: 0;
    font-weight: bolder;
    font-size: 1.3rem;
    color: #454545;
}

.loginRedirect {
    font-family: Robot, sans-serif;
}

#loginHeader {
    top: 16%;
    position: absolute;
    font-family: "Fugaz One", cursive;
    font-weight: 200;
    font-size: 5.4rem;
    text-align: left;
    margin-left: 34%;
    z-index: 1;
    color: #124E78;
}

#login {
    background-color:#ededed;
    width: 40%;
    position: absolute;
    left: 50%;
    top: 46%;
    transform: translate(-50%, -50%);
    border-radius: 3px;
    z-index: -1;
}

html .form-group {
    width: 100%;
    text-align: left;
    margin-bottom: 0;
}

.loginForm.loginForm {
    width: 80%;
}

html .form-control {
    border-color: transparent;
}

#loginButton {
    background-color: #454545;
    margin-top: 5%;
    font-family: Roboto, sans-serif;
    padding: 3%;
    border-radius: 2px;
    width: 100%;
}

#loginButton:hover {
    background-color: #124E78;
}

#passwordLabel {
    margin-top: 8%;
}

#registerForm {
    background-color: #ededed;
    width: 40%;

}

#allRegister {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#regFG {
    margin-top: 0;
    width: 73%;
    margin-left: auto;
    margin-right: auto;
}

#register {
    text-align: center;
    position: relative;
    margin-left: 0;
    margin-top: 7%;
    font-family: "Fugaz One", cursive;
    font-weight: 200;
    font-size: 5.4rem;
    color: #124E78;
    z-index: 5;
}

#refLab {
    margin-top: 6%;
}

#refLabFirst {
    margin-top: 10%;
}

#regButton {
    width: 100%;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    background-color: #454545;
    margin-top: 3%;
}

#regButton:hover {
    background-color: #124E78;
    border: transparent;
}

html .createGroup {
    background-color: #ededed;
    width: 40%;
    display: inline-block;
    padding-bottom: 3%;

}

#groupHeader {
    font-size: 4rem;
    text-align: center;
    margin-top: 16%;
    font-family: "Fugaz One", cursive;
    font-weight: 200;
    color: #124E78;
    z-index: 5;
}

#allGroup {
    position: absolute;
    margin: 0;
    text-align: center;
    left: 50%;
    top: 33%;
    transform: translate(-50%, -50%);
    width: 100%;

}

#firstGroup {
    margin-right: 2%;
}

html .modal-content {
    text-align: center;
    border-radius: 2%;

}

html .modal.show .modal-dialog {
    text-align: center;
    border-radius: 0px;
    top: 30%;
    position: relative;

}

html .modal-header {
    text-align: center;
}

#modalHeader {
    text-align: center;
    padding-left: 24%;
    color: black;
}

html .modal-footer {
    text-align: center;
    display: inline-block;
}

#modalButton {
    background-color: #1CCAD8;
    border: transparent;
}

#modalButton:hover {
    background-color: #124E78;
}

.form-check-inline .form-check-input {
    transform: scale(1.5);
}

#pageTitle {
    color: #E2E2E2;
    font-family: 'Fugaz One', cursive;
    font-size: 3.5rem;
    padding-bottom: 0;
    margin-top: 4%;
    text-align: center;
}

#registerButton {
    width: 100%;
    background-color: #1CCAD8;
    border-color: #1CCAD8;
}

#registerButton:hover {
    background-color: #124E78;
    border-color: #124E78;
}

#groupBusyCell {
    background-color: #b8d4d8;
}

#groupBusyCell:hover {
    background-color: #1CCAD8;
}

#helpImage {
    width: 100%
}

#imageDiv {
    display: flex;
    justify-content: center;
}

#clickLeft:hover {
    color: #E2E2E2;
    border-top: 12px solid transparent;
    border-left: 25px solid #E2E2E2;
    border-bottom: 12px solid transparent;
    cursor: auto;
}

#clickRight:hover {
    color: #E2E2E2;
    border-top: 12px solid transparent;
    border-right: 25px solid #E2E2E2;
    border-bottom: 12px solid transparent;
    cursor: auto;
}

#unloaded {
    cursor: auto;
    border-top: 12px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 12px solid transparent;

}

#unloaded:hover {
    cursor: auto;
    border-top: 12px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 12px solid transparent;
}