@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.btn.btn-outline-primary {
  border-color: #E2E2E2;
  background-color: #E2E2E2;
  padding: 0.7rem 3.3rem;
  border-radius: 0;
  border-width: 1px;
  border-left-color: #1CCAD8;
  border-bottom-color: #1CCAD8;
  color: transparent;
  font-size:1em;
}

span {
  display: inline-block;
  text-align: center;
  width: 14.2%;
  font-size: 180%;
  font-family: Roboto;
  color: #E2E2E2;

}

#weekdays {
  width: 91%;
  margin-left: 9%;
  display: inline-block;
}


#firstId{

}

.btn-group-vertical {
  width: 13%;
}

.btn.btn-primary {
  background-color: #1CCAD8;
  border-color: #1CCAD8;
  border-radius: 0;
  font-size:1em;
  padding: 0.7rem 0rem;
}

.btn.btn-primary:hover {
  background-color: #1CCAD8;
  border-color: #1CCAD8;
}

@media (max-width: 768px) {
  .btn.btn-outline-primary {
    padding:8px 18px;
    font-size:1em;
  }

  .btn.btn-primary {
    padding:8px 18px;
    font-size:1em;
  }

}

@media (min-width: 769px) and (max-width: 992px) {
  .btn.btn-outline-primary {
    padding:8px 27px;
    font-size:80%;
  }

  .btn.btn-primary {
    padding:8px 27px;
    font-size:80%;
  }



}

.btn.btn-outline-primary:hover {
  background-color: #1CCAD8;
  border-color: transparent;
  color: transparent;
}

html body {
  background-color: #5FAD56;
}

.container.container {
  margin-top: 5%;
  padding: 0;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

 #footer {
  color: #E2E2E2;
   text-align: center;
   font-size: 1.5em;
   margin-top: 1%;
   margin-left: auto;
   margin-right: auto;

  font-family: Roboto, sans-serif;
}

 #sidebar {
   width:9%;
   background-color: brown;
   display: inline-flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
   position: relative;
   vertical-align: top;
 }

