@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  background-color: #5FAD56;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.hourButtons{
  flex-direction: column;
  width: 14%;
  display: inline-block;
  border-radius: 5px;
  background-color: white;
  margin: 1px;

}

#calendarBody{
  padding-left: 7px;
  padding-top: 6px;
  padding-bottom: 6px;
  width: 75%;
  margin: 0 auto;
  margin-top: 100px;
  background-color: white;
  border-radius: 10px;
}

#allDays {
  margin: 0 auto;
}

.cell {
  padding: 10px;
  width: 100%;
  height: 50px;
  min-height: 50px;
  min-width: 100%;
  background-color: #E2E2E2;
  border: 1px solid white;
  cursor: pointer;
  margin: 0 auto;
}

.cell:hover {
  background-color: #124E78;
}

.cell:focus {
  background-color: #124E78;
}

#week {
  border: 2px solid #E2E2E2;
  background-color: #E2E2E2;
  margin: auto;
}

#weekdays {
  font-size: 24px;
  font-weight: bold;
}